@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




/* Hide the top SharePoint bar */
#SuiteNav {
  display: none !important;
}

/* Hide the Office 365 Suite Bar */
#O365_MainLink_Logo {
  display: none !important;
}

/* Hide the app bar */
div[class^='ms-Fabric'] {
  display: none !important;
}

/* Hide the global navigation bar */
div[class^='o365cs-nav'] {
  display: none !important;
}

  /* ------------------- Globale Iputes ---------------- */

  div#sp-appBar{
    display: none;
  }
  div#sp-commandBar{
    display: none;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
        
        
 a {
    color: white;
    text-decoration: none; /* Remove underlines */
  }
  
  body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }