  /* ------------------- Globale Iputes ---------------- */


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
        
        
 a {
    color: white;
    text-decoration: none; /* Remove underlines */
  }
  
  body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }